extends layout

block content 
	header(class='container-fluid')
		nav(class='container')
			div(class='row')
				img(src='' alt='' class='logo')
				img(src='' alt='' class='logo-black')
				ul(class='main-nav')
					li
						a(href='#features') Register
					li
						a(href='#features2') Log In
					li
						a(href='#features3') Blog

		div(class='row')
			div(class='col-md-5 col-md-offset-1')
				div(class=" hero-text-box")
					h1(class='my-css') Build you startups at a fraction of the cost
					h3(class='my-css') Outsource your software development to professionals from all over the globe. Affordable. Automated. Tax-optimized
					a(class='btn btn-default btn-info btn-lg', href='/newaccount') Call my Superviser
			div(class='col-md-6')
				form(method='post' action='#' class='contact-form')
					div
						p Build your custom application now
					div
						input(type='text' name='name' id='name' placeholder="Your name" required)
					div
						input(type='text' name='email' id='email' placeholder="Your email" required)
					div
						input(type='text' name='phone' id='phone' placeholder="Your phone number")
					input(type='submit' class='btn-hero')
		//div(class='hero-text-box')
		
	// Benefits
	section(class='section-benefits container')
		div(class='row')
			div(class='col-md-10 col-md-offset-1')
				div(class='benefit col-md-4')
					h4(class='my-css') Superior software development quality for the fraction of the cost
					p Europe means speed, quality and solid cutting costs for your start-up
				div(class='benefit col-md-4')
					h4(class='my-css')  Supervised. You are just setting goals, we manage & supervise the project
					p Our supervisers and project managers will take care of developer efficiency and communication. Just track the milestones and choose the speed
				div(class='benefit col-md-4')
					h4(class='my-css')  Need one more
					p Need one more

	// Reinforcement statement 
	section(class='section-reinf container-fluid')
		div(class='row')
			div(class='col-md-10 col-md-offset-1')
				p Keep your burnrate low, outsource your software development

	// Feature section
	section(class='section-features container' id='features')
		div(class='')
			h2(class='my-css') How it Works
			div(class='row')
				div(class='col-md-10 col-md-offset-1')
					div(class='my-benefits col-md-4')
						i(class='ion-ios-timer-outline icon-big')
						h3 Assess hours
						p Contact support and find out the quantity of hours needed to create your application
					div(class='my-benefits col-md-4')
						i(class='ion-ios-paperplane-outline icon-big')
						h3 Start your project 
						p Assign workforce hours for your project & start building your project
					div(class='my-benefits col-md-4')
						i(class='ion-ios-checkmark-empty icon-big')
						h3 Track your progress 
						p Supervisers will take care of developer efficiency. Just track the milestones and choose the speed

				
	// Footer
	section(class='section-footer container-fluid')
		div(class='row')
			div(class='col-md-3 col-md-offset-2')
				p New
			div(class='col-md-6')
				p New 2

