extends layout

block content 
	header(class='container-fluid')
		nav(class='container')
			div(class='row')
				img(src='' alt='' class='logo')
				img(src='' alt='' class='logo-black')
				ul(class='main-nav')
					li
						a(href='#features') Register
					li
						a(href='#features2') Log In
					li
						a(href='#features3') Blog

		div(class='hero-text-box')
			h1(class='my-css') Build you startups at a fraction of the cost
			h3(class='my-css') Outsource your software development to professionals from all over the globe. Affordable. Automated. Tax-optimized
			a(class='btn btn-default btn-info btn-lg', href='/newaccount') Call my Superviser
	// Feature section
	section(class='section-features container' id='features')
		div(class='')
			h2(class='my-css') Our Benefits
			div(class='row')
				div(class='my-benefits col-xs-12 col-sm-4 col-md-4 col-lg-4')
					i(class='ion-ios-timer-outline icon-big')
					h3 Assess hours
					p Contact support and find out the quantity of hours needed to create your application
				div(class='my-benefits col-xs-12 col-sm-4 col-md-4 col-lg-4')
					i(class='ion-ios-paperplane-outline icon-big')
					h3 Start your project 
					p Assign workforce hours for your project & start building your project
				div(class='my-benefits col-xs-12 col-sm-4 col-md-4 col-lg-4')
					i(class='ion-ios-checkmark-empty icon-big')
					h3 Track your progress 
					p Supervisers will take care of developer efficiency. Just track the milestones and choose the speed
				
	//footer
	footer

