extends layout

block content 
	header(class='container-fluid')
		nav(class='container')
			div(class='row')

				img(src='' alt='' class='logo')
				img(src='' alt='' class='logo-black')
				//- ul(class='main-nav')
				//- 	li
				//- 		a(href='#features') Register
				//- 	li
				//- 		a(href='#features2') Log In
				//- 	li
				//- 		a(href='#features3') Blog
		
		div(class='row')
			div(class='col-md-5 col-md-offset-1')
				div(class="hero-text-box")
					h1(class='my-css') Spend less when you develop your startup
					h3(class='my-css') Outsource your software development to professionals from Eastern Europe
					//- a(class='btn btn-default btn-info btn-lg', href='/newaccount') Call my Superviser
			div(class='col-md-6')
				form(method='post' action='#' class='contact-form')
					div
						p Build your custom application now
					div
						input(type='text' name='name' id='name' placeholder="Your name" required)
					div
						input(type='text' name='email' id='email' placeholder="Your email" required)
					div
						input(type='text' name='phone' id='phone' placeholder="Your phone number")
					input(type='submit' class='btn-hero')
		div(class='sticky-preselection')
			div(class='row')
				div(class='col-md-8 col-md-offset-2')
					div(class='col-md-4')
						p Logo 1
					div(class='col-md-4')
						p Logo 2
					div(class='col-md-4')
						p Logo 3
		//div(class='hero-text-box')
		
	// Benefits
	section(class='section-benefits container')
		div(class='row')
			div(class='col-md-10 col-md-offset-1')
				div(class='benefit col-md-4')
					i(class='ion-android-happy icon-big')
					h4(class='my-css') Affordable prices
					p Outsource your software development to highly educated software engeneers from Eastern Europe
				div(class='benefit col-md-4')
					i(class='ion-ios-people icon-big')
					h4(class='my-css')  Supervised
					p Our supervisers and project managers will take care of developers efficiency and communication. Just track the milestones and choose the speed
				div(class='benefit col-md-4')
					i(class='ion-android-favorite-outline icon-big')
					h4(class='my-css')  Fairness
					p We do not cheat on our clients and treat them like we want to be treated

	// Reinforcement statement 
	section(class='section-reinf container-fluid')
		div(class='row')
			div(class='col-md-10 col-md-offset-1')
				p Keep your burnrate low - outsource your software development

	// Feature section
	section(class='section-features container' id='features')
		div(class='')
			h2(class='my-css') How it Works
			div(class='row')
				div(class='col-md-10 col-md-offset-1')
					div(class='my-benefits col-md-4')
						i(class='ion-ios-timer-outline icon-big')
						//- div(class='works-step') 1
						h3 Assess hours
						p Contact support and find out the quantity of hours needed to create your application
					div(class='my-benefits col-md-4')
						i(class='ion-ios-paperplane-outline icon-big')
						h3 Start your project 
						p Assign workforce hours for your project & start building it
					div(class='my-benefits col-md-4')
						i(class='ion-ios-checkmark-empty icon-big')
						h3 Track your progress 
						p Supervisers will take care of developers efficiency. Just track the milestones and choose the speed

				
	// Footer
	section(class='section-footer container-fluid')
		div(class='row')
			div(class='col-md-3 col-md-offset-2')
				p New
			div(class='col-md-6')
				p New 2

